<h1>Welcome</h1>
<p>Create account or login</p>
<a href ="/user/register" class ="btn btn-primary btn-block mb-2">Register</a>
<a href ="/user/login"  class= "btn btn-secondary btn-block mb-2">Login</a>